# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAZSZzZalxUGM_ygoahyXBgrqEhXK2gD7o
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=grouptaskmanager-ac1cd.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=grouptaskmanager-ac1cd
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=grouptaskmanager-ac1cd.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=586147687520
NEXT_PUBLIC_FIREBASE_APP_ID=1:586147687520:web:72cdcbd655443574b3e705

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://kfeapfxdeyxdlxsuzyii.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_c81X2ZO9JIhO_pGtIlJORg_ia2zj17n
